---
import Counter from "@/components/about/Counter";
import JobCard from "@/components/career/JobCard";
import Team from "@/components/team/Team.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import { AiFillStar } from "react-icons/ai";
import type { Photo } from "react-photo-album";
import PhotoAlbum from "react-photo-album";

const about = await getEntry("about", "-index");
const {
  title,
  meta_title,
  description,
  description2,
  image,
  reviews,
  achievement,
  value,
  team,
  job,
  gallery,
} = about.data;

const teamIndex = await getEntry("team", "-index");

const careers = await getSinglePage("career");
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title="About Us" />
  <!-- first section -->
  <section class="section bg-section">
    <div class="container">
      <div class="row items-center justify-center">
        <div class="md:col-10 lg:col-6">
          {
            image && (
              <Image
                class="mx-auto mb-6 rounded-lg"
                src={image}
                width={587}
                height={507}
                alt={title}
              />
            )
          }
        </div>
        <div class="md:col-10 lg:col-6">
          <h1 class="mb-4 font-extrabold" set:html={markdownify(title)} />
          <p class="mb-6 text-[18px]" set:html={markdownify(description)} />
          <p class="mb-6 text-[18px]" set:html={markdownify(description2)} />
        </div>
      </div>
    </div>
  </section>
</Base>
