---
import CallToActionSVG from "@/components/svg/CallToActionSVG.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { call_to_action, className } = Astro.props;
---

{
  call_to_action.data.enable && (
    <section class={`section bg-section ${className}`}>
      <div class="container">
        <div class="rounded-lg bg-primary px-8 py-16 md:px-20 xl:p-20">
          <div class="row items-center justify-between">
            <div class="mb-10 md:col-5 md:order-2 lg:col-5 md:mb-0 overflow-hidden">
              {call_to_action.data.image ? (
                <Image
                  src={call_to_action.data.image}
                  width="598"
                  height="416"
                  alt="banner image"
                  class=""
                />
              ) : (
                <CallToActionSVG />
              )}
            </div>
            <div class="md:col-7 md:order-1 lg:col-6">
              <h2
                set:html={markdownify(call_to_action.data.title)}
                class="mb-2 font-extrabold"
              />
              <p
                set:html={markdownify(call_to_action.data.description)}
                class="mb-6 text-[20px]"
              />
              {call_to_action.data.button.enable && (
                <a
                  class="btn bg-dark text-body"
                  href={call_to_action.data.button.link}
                >
                  {call_to_action.data.button.label}
                </a>
              )}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
