---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { copyright } = config.params;
---

<footer class="bg-footer text-white">
  <div class="container pt-32">
    <div class="row gx-4 justify-center">
      <div class="col-10 lg:col-4">
        {/* logo */}
        <div class="mb-10 lg:mb-8">
          <Image
            src="/images/aksLogoWhite.png"
            class="mb-4"
            width={144}
            height={40}
            alt="banner image"
          />
          <p class="mb-4 lg:mb-8 text-white">
            
          </p>
          <div>
            <h5 class="mb-4 text-white">Follow Us</h5>
            <div>
              <Social source={social.main} className="social-icons" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 lg:col-4">
        {/* quick link */}
        <div class="mb-10 lg:mb-8">
          <div class="row justify-center">
            {
              menu.footer.map((menu) => (
                <div class="col">
                  <h5 class="mb-5 font-bold text-white lg:mb-6">{menu.name}</h5>
                  <ul>
                    {menu.children.map((child) => (
                      <li class="mb-3 hover:text-primary">
                        <a href={child.url}>{child.name}</a>
                      </li>
                    ))}
                  </ul>
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class="col-10 lg:col-4">
        {/* sub */}
        <div class="mb-10 lg:mb-8">
          <h3 class="mb-2 font-extrabold text-white">
            Subscribe to the latest news
          </h3>
          <p class="mb-7 text-white">
            Stay in the loop and never miss out on the latest updates insights,
            and trends by subscribing to our newsletter!
          </p>
          <div class="flex flex-nowrap">
            <input
              class="form-input rounded-l-[8px] rounded-r-none border-r-0 border-transparent px-4"
              placeholder="Your email adress"
              type="text"
              name="subscribe"
              autocomplete="off"
            />
            <button
              class="btn btn-primary rounded-l-none rounded-r-[8px] hover:text-white"
              type="submit"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-light py-7">
      <div class="container text-center">
        <p class="copyright" set:html={markdownify(copyright)} />
      </div>
    </div>
  </div>
</footer>