---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Social from "../Social.astro";
type Members = CollectionEntry<"team">["data"]["members"];

const { members } = Astro.props;

const allMembers: Members = members;
---

<div class="container">
  <div class="row g-4">
    {
      allMembers.map((member) => (
        <div class="col-12 md:col-6 lg:col-4 xl:col-3">
          <div class="outer-div relative h-full overflow-hidden rounded-lg border-2 border-border bg-body">
            <div class="flex h-full flex-col justify-between">
              <div class="mb-10 bg-section py-6 text-center">
                <h4 set:html={markdownify(member.name)} class="font-bold" />
                <p set:html={markdownify(member.designation)} />
              </div>

              <div class="inner-div">
                <div class="social-icon-div absolute bottom-5 left-0 right-0 z-10 mx-auto hidden max-w-fit">
                  <Social source={member.social} className="social-icons" />
                </div>
              </div>

              <div class="">
                <Image
                  class="mx-auto"
                  src={member.image}
                  width={188}
                  height={223}
                  alt={member.name}
                />
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
