---
import BlogCard from "@/components/blog/BlogCard.astro";
import config from "@/config/config.json";
import Disqus from "@/helpers/Disqus";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import readingTime from "@/lib/utils/readingTime";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import { Image } from "astro:assets";
import { getEntry, type CollectionKey } from "astro:content";
import { BsDot } from "react-icons/bs";

export async function getStaticPaths() {
  const { capability_folder } = config.settings;
  const allposts = await getSinglePage(capability_folder as CollectionKey);
  const paths = allposts.map((post) => ({
    params: {
      single: post.slug,
    },
    props: { post },
  }));
  return paths;
}

const { capability_folder } = config.settings;
const allposts = await getSinglePage(capability_folder as CollectionKey);
const call_to_action = await getEntry("sections", "call-to-action");

const { post } = Astro.props;
const { title, meta_title, description, image, categories } = post.data;
const { Content } = await post.render();
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section
    class={`section bg-section ${
      config.settings.sticky_header && "pt-32 lg:pt-56"
    }`}
  >
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          <h1 set:html={markdownify(title)} class="mb-4" />

          {/* img */}
          {
            image && (
              <div class="mb-10 flex items-center justify-center overflow-hidden rounded-2xl bg-body">
                <Image
                  src={image}
                  height={500}
                  width={400}
                  alt="alt img"
                  class="py-7"
                />
              </div>
            )
          }
          <div class="content mb-10">
            <Content />
          </div>
        </article>
      </div>
    </div>
  </section>
  <CallToAction call_to_action={call_to_action} />
</Base>
